body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}



h1 {
    text-align: center;
}




.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
}




input, select, button {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}




button:hover {
    background: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}




table, th, td {
    border: 1px solid #ccc;

    
}



th, td {
    padding: 8px;
    text-align: center;


}
